<div class="container">
  <div class="header">
    <h2>To Do App</h2>
    <p>App to improve your productivity</p>
    <form autocomplete="off" [formGroup]="formModel" class="form mt-3" (ngSubmit)="addTask()">
      <input type="text" formControlName="task" class="form-control" placeholder="ex: Cook Salad, buy fruits etc..">
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <div class="body">
    <h3 *ngIf="tasks.length === 0">No task for now</h3>
    <form autocomplete="off" class="form list" *ngFor="let task of tasks">
      <input [disabled]="!task.editMode" type="text" value="{{task.enlistedTask}}" class="form-control no-outline"
        [ngStyle]="{'outline': !task.editMode ? 'none' : 'auto',  'border': !task.editMode ? 'none' : 'auto'}">
      <button *ngIf="task.editMode" type="button" class="btn btn-success"
        (click)="onUpdateTask(task.id, task.enlistedTask)"><i class="fa-solid fa-check"></i></button>
      <button *ngIf="!task.editMode" type="button" class="btn btn-success" (click)="onEditTask(task.id)"><i
          class="fa-solid fa-pen-to-square"></i></button>
      <button type="button" class="btn btn-danger" (click)="onDeleteTask(task.id)"><i class="fa-solid fa-trash"></i></button>
    </form>
  </div>
</div>